In [ ]:
"""1. Прочтите статью Array Broadcasting in Numpy.
Для следующих упражнений загрузите набор данных фильма по этой ссылке
(откройте ссылку и используйте «Сохранить как», чтобы загрузить файл)"""

# Done!

In [6]:
#2. Загрузите набор данных фильмов в pandas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
movies = pd.read_csv("movies.csv")

In [7]:
#3. Перечислите все столбцы набора данных и изучите их типы. Изучите статистику по различным областям. Опишите, какие данные у нас есть.
movies.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008

In [8]:
movies.columns

Index(['Film', 'Genre', 'Lead Studio', 'Audience score %', 'Profitability',
       'Rotten Tomatoes %', 'Worldwide Gross', 'Year'],
      dtype='object')

In [9]:
#4 Сколько всего фильмов в наборе данных?
#В наборі 77 фільмів
movies.shape

(77, 8)

In [10]:
movies.describe()

       Audience score %  Profitability  Rotten Tomatoes %         Year
count         77.000000      77.000000          77.000000    77.000000
mean          63.727273       4.599483          46.701299  2009.077922
std           13.657113       8.031990          26.095001     1.354974
min           35.000000       0.000000           3.000000  2007.000000
25%           52.000000       1.751351          26.000000  2008.000000
50%           64.000000       2.642353          45.000000  2009.000000
75%           76.000000       5.103117          64.000000  2010.000000
max           89.000000      66.934000          96.000000  2011.000000

In [11]:
movies.isnull()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
72,False,False,False,False,False,False,False,False
73,False,False,False,False,False,False,False,False
74,False,False,False,False,False,False,False,False
75,False,False,False,False,False,False,False,False
76,False,False,False,False,False,False,False,False

In [12]:
movies.duplicated().sum()

2

In [13]:
movies.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
72    False
73    False
74    False
75    False
76    False
Length: 77, dtype: bool

In [14]:
#5. Сколько фильмов содержится в наборе данных за каждый год?
mov_year = movies.groupby('Year')['Year'].count()
print(mov_year)

Year
2007    11
2008    20
2009    12
2010    20
2011    14
Name: Year, dtype: int64

In [15]:
#6. Покажите подробную информацию о наименее и наиболее прибыльных фильмах в наборе данных
most_profitable = movies.sort_values('Profitability', ascending=False).head(10)
least_profitable = movies.sort_values('Profitability').head(10)

print('Наиболее прибыльные фильмы:\n', most_profitable[['Film', 'Profitability']])
print('\nНаименее прибыльные фильмы:\n', least_profitable[['Film', 'Profitability']])

Наиболее прибыльные фильмы:
                                   Film  Profitability
68                           Fireproof      66.934000
60  High School Musical 3: Senior Year      22.913136
14         The Twilight Saga: New Moon      14.196400
7                             Waitress      11.089742
12                            Twilight      10.180027
45                          Mamma Mia!       9.234454
46                          Mamma Mia!       9.234454
43                   Midnight in Paris       8.744706
76                (500) Days of Summer       8.096000
16                        The Proposal       7.867500

Наименее прибыльные фильмы:
                                   Film  Profitability
3                         When in Rome       0.000000
33                  Our Family Wedding       0.000000
57                           Jane Eyre       0.000000
8                  Waiting For Forever       0.005000
42      Miss Pettigrew Lives for a Day       0.252895
74                  A Dangerous Method       0.448645
72                 Across the Universe       0.652603
39                My Week with Marilyn       0.825800
1                      Youth in Revolt       1.090000
2   You Will Meet a Tall Dark Stranger       1.211818

In [1]:
#7. Значение «Жанр» временами кажется непоследовательным; попробуйте найти эти несоответствия и исправить их

# я не зміг виявити якусь непослідовність в жанрах

In [18]:
#8. Сохраните (в новый файл CSV) 10 лучших комедий по количеству зрителей, покажите только название фильма, год и студию
comedies = movies[movies['Genre'] == 'Comedy']
top_10_comedies = movies[movies['Genre'] == 'Comedy'].sort_values(by='Audience score %', ascending=False).head(10)

top_10_comedies.to_csv('top_10_comedies.csv', index=False, columns=['Film', 'Year', 'Lead Studio', 'Audience score %'])

In [ ]:
#9 Используйте pip для установки двух библиотек: lxml, MySQL-connector-python.
"""Collecting lxml
  Downloading lxml-4.9.2-cp311-cp311-win_amd64.whl (3.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.8/3.8 MB 1.4 MB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-4.9.2

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip"""



"""Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.33-cp311-cp311-win_amd64.whl (9.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.6/9.6 MB 2.5 MB/s eta 0:00:00
Collecting protobuf<=3.20.3,>=3.11.0
  Downloading protobuf-3.20.3-py2.py3-none-any.whl (162 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 162.1/162.1 kB 1.9 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.33 protobuf-3.20.3

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip"""